*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
input {
    outline: none;
}

.hidden {
    display: none;
}

.checkbox-label {
    cursor: pointer
}

.checkbox-label:hover .checkbox-replace {
    border-color: #1890ff;
}

.checkbox-input {
    display: none;
}

.checkbox-replace {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    vertical-align: middle;
    transition: all .3s;
}

.checkbox-replace::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 6px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg) scale(0);
    transition: all .3s;
}

.checkbox-input:checked + .checkbox-replace {
    border-color: #1890ff;
    background-color: #1890ff;
}

.checkbox-input:checked + .checkbox-replace::after {
    transform: rotate(-45deg) scale(1);
}

.checkbox-text {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
    background-color: rgba(233, 233, 233, 1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(24, 144, 255, 1);
}