.bgoiofgfpkhhhlndnfhaplljgjajnell-gesture-wrapper {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 9999999999999;
}

.bgoiofgfpkhhhlndnfhaplljgjajnell-gesture-wrapper .dir-wrapper {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.bgoiofgfpkhhhlndnfhaplljgjajnell-gesture-wrapper .dir-wrapper img {
    width: 32px;
    margin: 5px 10px;
}

.bgoiofgfpkhhhlndnfhaplljgjajnell-gesture-wrapper svg {
    position: absolute;
    left: 0;
    top: 0;
}