include ../../mixins/checkbox
#gesture.hidden.view
    .row
        div
            +checkbox("showTrack", "显示轨迹", {"data-ref": "trackWrapper"})
        #trackWrapper
            div
                span 轨迹颜色:
                input#trackColor.color-input(type="color")
            div
                span 不透明度:
                input#trackOpacity.range-slider(type="range" min=".1" max="1" step=".1")
                span#trackOpacityValue.range-value
            div
                span 轨迹宽度:
                input#trackWidth.range-slider(type="range" min="1" max="10")
                span.range-value#trackWidthValue
    .row
        div
            +checkbox("showHint", "显示提示", {"data-ref": "hintWrapper"})
        div#hintWrapper.slider-wrapper
            div
                span 背景色:
                input#hintBgColor.color-input(type="color")
            div
                span 不透明度:
                input#hintOpacity.range-slider(type="range" min=".1" max="1" step=".1")
                span#hintOpacityValue.range-value
            div
                span 文字颜色
                input#hintTextColor.color-input(type="color")
    .row
        hr
    .row.gesture-list-wrapper
        div.mt-10 手势:
        #gestureList.gesture-list
    .row
        hr
    .row
        button.btn.btn-primary.reset(type="button" data-type="gesture") 恢复默认
    .gesture-popup#gesturePopup
        .new-gesture-wrapper#newGestureWrapper
            div
                span 手势功能：
                select#gestureFunctions
            .mt-10.d-flex.new-gestures
                span 新建手势：
                #newGestures 
            .draw-gesture-wrapper#drawGestureWrapper
                svg#gestureTrack(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    polyline(stroke="#1998ff" stroke-width="5" stroke-linejoin="round" fill="transparent")
            .gesture-footer.d-flex.justify-end 
                button.btn.btn-primary#saveGesture 确定
                button.btn.ml-10#cancelAddGesture 取消