doctype html
html
    head
        meta(charset="utf-8")
        title 新标签页
    body
        #bg.background
        #weather.weather.scale-invisible
            span.city
            img
            span.temperature
            span.pollution-name
            span.pollution-value
        section.main-container
            p#sentence.daily-sentence.scale-invisible
            .search-wrapper
                - var engines = {"百度": "https://www.baidu.com/s?wd=","必应": "https://cn.bing.com/search?q=","搜狗": "https://www.sogou.com/web?query=","360": "https://www.so.com/s?q=","谷歌": "https://www.google.com/search?q="}
                select#searchEngine.search-engine
                    each val, key in engines
                        option(value=val) #{key}
                input#keywords.keywords(type="text")
                button#search.search(type="button")
            #articles.article-list
             span#copyright.copyright