doctype html
html
    head
        meta(charset="utf-8")
        title 设置
    body
        header.header
            span#title 设置
        aside#aside.aside
            button#showMenuBtn.show-menu-btn(type="button")
                span.icon
            -var links = {"基本设置": "#/basic","手势设置": "#/gesture", "关于": "#/about"}
            ul#nav.nav
                each val, key in links
                    li
                        a.router-link(href=val) #{key}
        section.container
            include ./includes/options/basic
            include ./includes/options/gesture
            include ./includes/options/about