@import "./common";
.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.scale-invisible {
    transform: scale(0);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-sentence {
    margin-top: 50px;
    width: 538px;
    padding: 5px;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(24, 144, 255, .5);
    color: #333;
    transition: all .3s;
}

.search-wrapper {
    display: flex;
    margin-top: 10px;
    .keywords {
        width: 380px;
        height: 36px;
        padding: 0 10px;
        margin-left: -1px;
        border: 1px solid #1890ff;
        background-color: rgba(255, 255, 255, .5);
        transition: all .3s;
        &:focus {
            box-shadow: 0 0 5px 0 rgba(24, 144, 255, .8);
        }
    }
    .search-engine {
        width: 80px;
        padding: 0 10px;
        border: 1px solid #1890ff;
    }
    .search {
        width: 80px;
        height: 36px;
        margin-left: -1px;
        border: none;
        background: #1890ff url(../images/search.svg) no-repeat center center/20px 20px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            background-color: #40a9ff;
        }
        &:active {
            background-color: #096dd9;
        }
    }
}

.copyright {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: url("../images/info.png") no-repeat center center/100% 100%;
}

.article-list {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 538px;
    margin: 15px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, .6);
    a {
        margin: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;
        transition: all .3s;
        transform-origin: left;
        &:hover {
            color: #1890ff;
            transform: scale(1.05);
        }
    }
}