@import "./common";

body {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #1998ff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container {
    width: 1000px;
    height: calc(100vh - 60px);
    margin: 60px auto 0;
    padding: 10px;
    overflow: auto;
}

.row {
    margin: 10px 0;
}

.show-menu-btn {
    position: absolute;
    top: 25px;
    right: -50px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;

    &:active {
        background-color: rgba(255, 255, 255, .3);
        box-shadow: 0 0 0 5px rgba(255, 255, 255, .3);
    }

    .icon {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 2px;
        transform: translateY(-50%);
        vertical-align: middle;
        background-color: #fff;
        transition: all .3s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: inherit;
            height: inherit;
            background-color: inherit;
            transition: all .3s;
        }

        &:before {
            top: -6px;
        }

        &::after {
            top: 6px;
        }
    }

    &.active {
        .icon {
            transform: translateY(-50%) rotate(45deg);

            &::before {
                opacity: 0;
            }

            &::after {
                transform: rotate(90deg) translateX(-27%);
            }
        }
    }
}

.aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #324057;
    color: #bfcbd9;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: 10;

    &.visible {
        transform: translateX(0);
        box-shadow: 1px 0 5px 3px rgba(0, 0, 0, .5);

        .show-menu-btn {
            right: 10px;
        }
    }

    >p:first-child {
        line-height: 50px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #f2f2f2;
    }
}

.nav li a {
    display: inline-block;
    padding-left: 15px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #bfcbd9;
}

.nav li.active a {
    background-color: #1998ff;
    color: #fff;
}

.slider-wrapper {
    padding: 5px 0;
    overflow: hidden;

    >div {
        padding: 5px 0;
    }
}

.slider-wrapper .color-input {
    width: 80px;
}

.gesture-list-wrapper {
    display: flex;
}

.gesture-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 20px;

    .gesture-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        height: 90px;
        padding: 0 10px;
        margin: 10px;
        border: 1px solid #f2f2f2;
        transition: all .3s;

        &:hover {
            transform: translateY(-5%);
            box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
        }

        dd {
            margin-top: 8px;
        }
    }

    .add-gesture {
        align-items: center;
        border-style: dashed;
        background: url(../images/add.svg) no-repeat center center / 50px 50px;
        cursor: pointer;
    }
}

.gesture-list,
.new-gesture-wrapper {
    img {
        background-color: rgba(25, 152, 255, .8);
    }
}

.gesture-item {
    position: relative;

    .operation-wrapper {
        position: absolute;
        right: 5px;
        top: 5px;
        opacity: 0;
        transition: all .3s;
    }

    .operation-btn {
        $size: 18px;

        border: none;
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        padding: 0;
        border-radius: 50%;
        color: #fff;
        background: url(../images/close.svg) no-repeat center center / 16px 16px rgba(255, 0, 0, .5);
        cursor: pointer;
        font-size: 20px;

        &:hover {
            background-color: rgba(255, 0, 0, .6);
        }

        &:active {
            background-color: rgba(255, 0, 0, .8);
        }

        &.edit-gesture {
            background-size: 12px 12px;
            background-image: url(../images/edit.svg);
            background-color: #1998ff;
        }
    }

    &:hover {
        .operation-wrapper {
            opacity: 1;
        }
    }
}

.gesture-popup {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
    transition: all .3s;
    transform: translateY(-1000px);
    opacity: 0;

    &.show {
        transform: translateY(0);
        opacity: 1;
    }

    .new-gesture-wrapper {
        display: flex;
        flex-direction: column;
        width: 720px;
        height: 600px;
        margin-top: 30px;
        padding: 10px;
        background-color: #fff;
    }

    .draw-gesture-wrapper {
        flex: 1;
        margin: 10px 0;
        border: 1px dashed #333;
    }

    .new-gestures {
        align-items: center;
        height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}